.board{
    display: flex;
    flex-direction: column;

  .board-row{
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid rgb(0, 0, 0);
    &:last-child{
      border-bottom: none;
    }
 
  button{
    display: flex;
    flex-direction: row;
    width: 50px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-right: 2px solid rgb(0, 0, 0);
  
    &:last-child{
    border-right: none;
 }}
}}